.home-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Создание поста */
.create-post {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 20px;
}

.create-post textarea {
  width: 100%;
  height: 80px;
  border: none;
  resize: none;
  font-size: 16px;
  outline: none;
}

.create-post button {
  margin-top: 10px;
  width: 100%;
  background: #0095f6;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.create-post button:disabled {
  opacity: 0.7;
}

/* Посты */
.feed {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.post-card {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  padding: 16px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.avatar,
.avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ddd;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  font-weight: 600;
}

.post-content {
  margin: 8px 0;
  font-size: 15px;
}

.post-date {
  font-size: 13px;
  color: #888;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.empty-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  text-align: center;
  color: #000;
}

.empty-feed-subtext {
  color: #888;
  margin-top: 8px;
  font-size: 0.9rem;
}

.empty-feed-img {
  width: 150px; /* подправь под свой PNG */
  height: auto;
  margin-bottom: 16px;
}

