.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.app-content {
  flex: 1;
  min-height: 100vh;
  background-color: #f9f9f9; /* фон основной страницы */
  overflow-y: auto;
}

.sidebar {
  position: fixed; /* поверх контента */
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px; /* свёрнутый размер */
  background-color: #fff;
  transition: width 0.3s;
}

.sidebar:hover {
  width: 220px; /* развёрнутый размер */
}
